.contact-page {
    width: 100%;
    line-height: normal;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.contact-information {
    width: 100%;
    height: 400px;
    background-color: var(--mainColor);
    /* box-shadow: var(--shadowColor); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-information > div {
    color: var(--primaryColor);
    width: 50%;
}
#left{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#right{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content:center;
}
#right > div > a {
    color: var(--primaryColor);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.contact-information > div> a {
    color: var(--primaryColor);   
    padding-top: 40px;
    text-align:left;
    text-decoration: none;
}

.contact-information > div> a:hover {
    cursor: pointer;
}

.contact-form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.contact-form > .loginform-container > h3 {
    color: var(--mainColor);
}
.loginform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-address{
    width: 100%;
}
.contact-address > iframe {
    border: none;
    width: 100%;
}
.contact-address > h1 {
    padding-top: 20px;
    padding-left: 20px;
    color: var(--mainColor);
}

@media (max-width: 768px) {
    .contact-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}