.drop-down {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 50vh;
  width:100%;
  background: var(--primaryColor);
  box-shadow: var(--shadowColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-navigation__dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .main-navigation__dropdown-nav {
    display: none;
  }
}