.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    
}

.nav-links li {
    list-style-type: none;
    padding-right: 2rem;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    color: var(--fontMainColor);
    transition: 0.5s;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active
{
    padding-bottom: 0.5rem;
    color: var(--mainColor);
    transition: 0.5s;
}

@media (max-width: 768px) {
    .nav-links{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .nav-links li{
        padding-top: 3rem;
    }
}