.nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
}

.nav-links li {
    list-style-type: none;
}

.nav-links li a{
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
    height: 1em;
    text-decoration: none;
}

.nav-links a {
    height: 1em;
    text-decoration: none;
    color:  var(--fontMainColor);
    font-weight: 700;
}

.nav-links a:hover{
    color: var(--mainColor)
}

.nav-links a:hover, 
.nav-links a:active,
.nav-links a.active {
    color: var(--mainColor);
    transition: .5s; 
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links{
        border-top: 1px solid var(--mainColor);
        display: flex;
        flex-direction: column;
    }

    .nav-links a:hover, 
    .nav-links a:active,
    .nav-links a.active {
        border-bottom: none;
        transition: .5s; 
        cursor: pointer;
    }
    .nav-links li{
        padding-top: 40px;
    }
}