.authenticate-page {
    margin-top: 120px;
    display: flex;
    line-height: normal;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.authenticate-page > form > h3 {
    color: var(--mainColor);
}
.authenticate-page > form {
    margin-top: 80px;
    padding-bottom: 20px;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .authenticate-page > form{
        width: 90%;

        padding: 20px;
    }
}