:root {
  --mainColor: #2291FF;
  --shadowColor: 5px 5px 5px 0px rgba(25, 25, 25, 0.1);
  --fontMainColor: #444444;
  --navbarColor: rgba(255, 255, 255);
  --contactPageColor: #1597E5;
  --primaryColor: #ffffff;
  --cardColor: #F0F0F0;
  --onHoverShadow: 5px 5px 5px 0px rgba(25, 25, 25, 0.5);
}

body {
  margin: 0;
  padding: 0;
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Rajdhani', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slide-in-left-enter {
  transform: translateY(-100%);
}
.slide-in-left-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateY(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 200ms;
}