.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 20px;
}

.form-control > input {
    width: 100%;
    height: 30px;
    outline: none;
}
.form-control > textarea {
    width: 100%;
    height: 60px;
}
  
.form-control label,
.form-control input,
.form-control textarea {
display: block;
}


.form-control input,
.form-control textarea {
width: 100%;
font: inherit;
border: none;
/* background: #f8f8f8; */
}

.form-control input:focus,
.form-control textarea:focus {
outline: none;
/* background: #ebebeb; */
border-color: #1597E5;
}

.form-control > input[type="password"] {
    -webkit-text-security: square;
}

.form-control--invalid label,
.form-control--invalid p {
color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
/* border-color: red; */
background: #ffd1d1;
}

@media (max-width: 768px) {
    .form-control {
        width: 100%;
    }
}