.loginform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 5px;
    height: 500px;
    border: 1px solid #ccc;
}

@media (max-width: 768px) {
    .loginform-container {
        border: none;
        margin: 30px;
        padding: 20px
    }
}