.copy-right {
    width: 100%;
    height: 50px;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;
    font-size: 12px;
    padding: 20px;
}

.copy-right > a {
    font-weight: 500;
    color: var(--fontMainColor);
    text-decoration: none;
}

@media (max-width: 768px) {
    .copy-right {
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .copy-right > a, .copy-right > p {
        font-size: 10px;
    }
}